name: "check lint"
on:
  pull_request:
    types: [opened, labeled, unlabeled, synchronize]
jobs:
  check-lint-rules:
    runs-on: "ubuntu-latest"
    steps:
      - name: "get code"
        uses: actions/checkout@v4
      - name: "install nodeJS"
        uses: actions/setup-node@v4
      - name: "clean install all dependency of code"
        run: npm ci
      - name: "verify lint on the code"
        run: npm run lint
      - name: "build the codebase"
        if: contains(github.event.pull_request.labels.*.name, 'build it')
        run: |
          echo "Tag 'build it' found in labels."
          npm run build

  second-job:
    needs: "check-lint-rules"
    runs-on: "ubuntu-latest"
    steps:
      - name: "get code"
        uses: actions/checkout@v4
      - name: "install nodeJS"
        uses: actions/setup-node@v4
      - name: "clean install all dependency of code"
        run: npm ci
