name: "workflow to run verify unit tests on each PR"
on:
  pull_request:
    types: [opened, reopened, labeled, unlabeled]
jobs:
  first-job:
    runs-on: "ubuntu-latest"
    steps:
      - name: "get code"
        uses: actions/checkout@v4
      - name: "install nodeJS"
        uses: actions/setup-node@v4
      - name: "clean install all dependency of code"
        run: npm ci
      - name: "verify unit test"
        run: npm run test
